.card {
  /* Positioning */
  background: #FFFFFF;
  padding: 8px;
  /* Border */
  border: 1px solid #E0E0E0;
  border-radius: 8px;
  /* Shadow */
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.1);
}

hr {
    background-color: #E0E0E0;
    border: 0 none;
    color: #E0E0E0;
    height: 2px;
}

#perspective-selector, #orthographic-selector, #shading-mode {
  margin-left: 24px;
}

.bbox-inputs {
  display: flex;
  flex-direction: column;
  gap: 8px; /* Space between rows */
  margin-top: 8px;
  margin-bottom: 8px;
}

.bbox-row {
  display: grid;
  grid-template-columns: auto 1fr 1fr; /* Label, Input, Input */
  align-items: center;
  gap: 8px;
}

.bbox-row > span {
  padding: 0 8px;
}

.bbox-inputs input[type="number"] {
  width: auto;
  padding: 4px;
  border: 1px solid #E0E0E0;
  border-radius: 4px;
}

#export-btn {
  border-radius: 8px;
  background-color: #778576;
  color: white;
  display: block;
  width: 90%;
  margin: 0px auto;
  padding: 12px 0;
  border: none;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  text-align: center;
  font-size: 1rem;
  font-weight: bold;
}

#export-btn:hover {
  background-color: #5c665c;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

#export-btn:active {
  background-color: #4f5e4f;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}
